# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

libs/

libs.zip

meshes

meshes/2triangles.obj

meshes/3holes.obj

meshes/arm_norm.obj

meshes/asian_man_norm.obj

meshes/asian_man_norm.obj.mtl

meshes/asian_man.obj

meshes/beetle.obj

meshes/Blender/cone_2.obj

meshes/Blender/cone_2.obj.mtl

meshes/Blender/cone.mtl

meshes/Blender/cone.obj

meshes/Blender/prism.mtl

meshes/Blender/prism.obj

meshes/bumpy-cube_norm.obj

meshes/bunny.obj

meshes/camel_b_norm.obj

meshes/camel_b_norm.obj.mtl

meshes/camel_b_norm.obj.mtl.mtl

meshes/camel_b_norm.obj.mtl.obj

meshes/camelhead.obj

meshes/cheburashka.obj

meshes/Complex/bust-of-medusa-at-the-musei-capitolini-rome-1.obj

meshes/Complex/bust-of-medusa-at-the-musei-capitolini-rome-1.obj.mtl

meshes/Complex/bust-of-medusa-at-the-musei-capitolini-rome-1.stl

meshes/Complex/kas19f-overkrop-af-giganten-klytios.stl

meshes/Complex/NORM_bust-of-medusa-at-the-musei-capitolini-rome-1.obj

meshes/Complex/NORM_bust-of-medusa-at-the-musei-capitolini-rome-1.obj.mtl

meshes/Complex/Tennyson_Bust_Plaster.stl.zip

meshes/Complex/Tennyson_Bust_Plaster.stl/__MACOSX/._Tennyson_Bust_Plaster.stl

meshes/Complex/Tennyson_Bust_Plaster.stl/Tennyson_Bust_Plaster.stl

meshes/Complex/venus-de-milo-cast-by-brucciani.stl

meshes/cow.obj

meshes/decimated-knight.obj

meshes/face_norm_DEF.obj

meshes/face_norm_scale10.obj

meshes/face_norm_scale2.obj

meshes/face_norm_scale3.obj

meshes/face_norm_scale4.obj

meshes/face_norm_scale5.obj

meshes/face_norm.obj

meshes/face_translated.obj

meshes/face_z_translated_-1.obj

meshes/face_z_translated_-10.obj

meshes/face_z_translated_-2.obj

meshes/face_z_translated_-3.obj

meshes/face_z_translated_-4.obj

meshes/face_z_translated_-5.obj

meshes/face_z_translated_1.obj

meshes/face_z_translated_10.obj

meshes/face_z_translated_2.obj

meshes/face_z_translated_4.obj

meshes/face_z_translated_5.obj

meshes/face_z_translated_6.obj

meshes/fandisk.obj

meshes/fertility.obj

meshes/grid.obj

meshes/halftunnel.obj

meshes/inspired_mesh_norm.obj

meshes/lilium_norm.obj

meshes/lion.obj

meshes/my_cube.mtl

meshes/my_cube.obj

meshes/my_cube.ply

meshes/my_cube.stl

meshes/planexy.obj

meshes/Prototype/armadillo_15cm.obj

meshes/Prototype/armadillo_huge.obj

meshes/Prototype/cylinder_HD.obj

meshes/Prototype/face_12cm.obj

meshes/Prototype/face_9cm.obj

meshes/Prototype/face_norm.obj

meshes/Prototype/medusa_12.obj

meshes/Prototype/medusa_12.obj.mtl

meshes/Prototype/Medusa_15.obj

meshes/Prototype/Medusa_15.obj.mtl

meshes/Prototype/Medusa_30.obj

meshes/Prototype/Medusa_30.obj.mtl

meshes/Prototype/skull_12.obj

meshes/Prototype/skull_7.obj

meshes/Prototype/skull_norm.obj

meshes/Prototype/skull.obj

meshes/Prototype/sphere_6cm.obj

meshes/Prototype/Torus_200.obj

meshes/Prototype/Torus_500.obj

meshes/Prototype/torus.obj

meshes/screwdriver.obj

meshes/snail_norm.obj

meshes/STL/11-fourfacesbuddha--1.stl

meshes/STL/2792sheep-final.stl

meshes/STL/308-antwerp-icarus-wander-bertoni-1.stl

meshes/STL/crane.stl

meshes/STL/embodi3d-ct-scan-head.stl

meshes/STL/OBJ/11-fourfacesbuddha--1_Scale5.obj

meshes/STL/OBJ/11-fourfacesbuddha--1.obj

meshes/STL/OBJ/2792sheep-final_Scale5.obj

meshes/STL/OBJ/2792sheep-final.obj

meshes/STL/OBJ/308-antwerp-icarus-wander-bertoni-1_Scale5.obj

meshes/STL/OBJ/308-antwerp-icarus-wander-bertoni-1.obj

meshes/STL/OBJ/crane_Scale5.obj

meshes/STL/OBJ/crane.obj

meshes/STL/OBJ/embodi3d-ct-scan-head_Scale5.obj

meshes/STL/OBJ/embodi3d-ct-scan-head.obj

meshes/STL/rodin-the-mighty-hand.zip

meshes/STL/rodin-the-mighty-hand/1.stl

meshes/STL/rodin-the-mighty-hand/2.stl

meshes/STL/rodin-the-mighty-hand/3.stl

meshes/STL/rodin-the-mighty-hand/the-mighty-hand-at-the-musee-rodin-paris-2.stl

meshes/STL/rodin-the-mighty-hand/the-mighty-hand-at-the-musee-rodin-paris-3.stl

meshes/STL/rodin-the-mighty-hand/the-mighty-hand-at-the-musee-rodin-paris-4.stl

meshes/test_Face.obj

meshes/Working/arm_norm.obj

meshes/Working/armadillo.obj

meshes/Working/cone_HD.obj

meshes/Working/cone.obj

meshes/Working/cone.obj.mtl

meshes/Working/cube_HD.obj

meshes/Working/cube_less_HD.obj

meshes/Working/cube.obj

meshes/Working/cylinder_HD_norm.obj

meshes/Working/cylinder_HD.obj

meshes/Working/cylinder_HD.ply

meshes/Working/dodecahedron_NORM.obj

meshes/Working/dodecahedron.obj

meshes/Working/face_norm.obj

meshes/Working/hyper_cube.obj

meshes/Working/icosahedron.obj

meshes/Working/low_res_3_sphere.obj

meshes/Working/low_res_4_sphere.obj

meshes/Working/prism.obj

meshes/Working/prism.obj.mtl

meshes/Working/smaller_sphere_HD.obj

meshes/Working/sphere_HD_norm.obj

meshes/Working/sphere_HD.obj

meshes/Working/sphere.obj

meshes/Working/truck.obj

meshes/Working/ycylinder.obj

meshes/xcylinder_norm.obj

meshes/xcylinder_norm.obj.mtl

meshes/ycylinder_norm.obj

meshes/ycylinder_norm.obj.mtl

meshes/zcylinder_norm.obj

meshes/zcylinder_norm.obj.mtl
